.neon-button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 15px #fff;
}

.neon-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s, transform 0.3s;
}

.neon-button:hover:before {
  opacity: 0.3;
  transform: scale(1.1);
}

.neon-button span {
  display: block;
  position: relative;
  z-index: 1;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(45deg, #ff0000, #ff00e0, #009dff, #00ff46);
  background-size: 200% 200%;
  animation: gradient 5s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
.foto {
  max-width: 600px;
}
.flex {
  display: flex;
  justify-content: center;
}
.info {
  padding: 30px;
  background-color: aliceblue;
  border-radius: 10px;
}
body {
  background-color: #212121;
}
.info h1 {
  font-size: 40px;
}
.info p {
  font-size: 20px;
}
.interactive-button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #0099ff;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.interactive-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 153, 255, 0.5);
}

.interactive-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 0.3s;
}

.interactive-button:hover::before {
  width: 100%;
}
